body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.container {
    display: flex;
}

/* <!-- TOOLS BAR --> */
.toolsBar{
    width: 90px;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
h3 {
    font-family: 'Rock Salt', cursive;
    margin: 15px 0 0 0;
    font-size: 15px;
}
button {
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    padding: 0px;
    margin: 3px;
}
button:focus {
    outline: none;
    outline: 2px solid #00000090;
    outline-offset: -2px;
}
button:active {
    outline: 6px solid #00000070;
    outline-offset: -6px;
}
/* colors*/
#yellow {
    background-color: #f1c40f;
}
#green {
    background-color: #2ecc71;
}
#orange {
    background-color: #e67e22;
}
#blue {
    background-color: #3498db;
}
#red {
    background-color: #e74c3c;
}
#purple {
    background-color: #9b59b6;
}
/* brush */
button.brush {
    height: 20px;
    width: 20px;
    border:2px solid black;
    background-color: #ffffff91;
}
#square {
    border-radius: 0px;
}
#circle {
    border-radius: 30px;   
}
#oval {
    border-radius: 30px 5px;
}
/* size */
input {
    width: 90%;
}
/* eraser */
#eraser {
    background-image: url(https://img.icons8.com/cotton/80/000000/erase.png);
    background-position: center;
    background-size: cover;
    background-color: transparent;
}
/* brush */
button#clear {
    width: 70px;
    border:1px solid gray;
}
button#clear:after {
    content: "C L E A R";
}

/* <!-- DAWING ZONE --> */
.drawingZone {
    width: 500px;
    height: 500px;
    background-color: white;
}